// COLOR
$color-primary: #ff0000 !default;
$color-primary-alpha-20: #ff000033 !default;
$color-primary-darker: #c4161c !default;
$color-primary-maroon: #780000 !default;
$color-primary-unicorn-1: linear-gradient(35deg, #e200bc, #ff0000) !default;
$color-primary-unicorn-2: linear-gradient(50deg, #e200bc, #ff0000) !default;
$color-primary-unicorn-3: linear-gradient(100deg, #e200bc, #ff0000) !default;
$color-primary-pegasus-1: linear-gradient(35deg, #e3392e, #b42d27) !default;
$color-primary-pegasus-2: linear-gradient(50deg, #e3392e, #b42d27) !default;

$color-secondary: #333739 !default;
$color-secondary-dark-grey: #9a9a9a !default;
$color-secondary-dark-grey-alpha-20: #9a9a9a33 !default;
$color-secondary-light-grey: #f2f4fa !default;

$color-tertiary-green: #16c0b7 !default;
$color-secondary-fandango: #c1179d !default;
$color-secondary-indigo: #6716c4 !default;
$color-secondary-deep-saffron: #ff8000 !default;
$color-secondary-deep-saffron-alpha-20: #ff800033 !default;

$color-gradient-apple-red: linear-gradient(0, #c60320, #960216) !default;
$color-gradient-vivid-tangerine: linear-gradient(0, #ffcfbe, #fc936f) !default;
$color-gradient-flax: linear-gradient(0, #ffeaac, #edcb7e) !default;
$color-gradient-aquamarine: linear-gradient(0, #80f9e2, #0fb29e) !default;
$color-gradient-rose-pink: linear-gradient(0, #e541ae, #b91372) !default;

$color-success: #36b37e !default;
$color-success-light: #f2fffa !default;
$color-danger: #da001a !default;
$color-danger-light: #ffe6e0 !default;
$color-warning: #ffab00 !default;
$color-info: #2096d9 !default;
$color-info-alpha-20: #2096d933 !default;
$color-in-progress: #58b0e3 !default;

$color-neutral-100: #333739 !default;
$color-neutral-90: #45484a !default;
$color-neutral-80: #575a5c !default;
$color-neutral-70: #696b6d !default;
$color-neutral-60: #7b7d7e !default;
$color-neutral-50: #b9baba !default;
$color-neutral-40: #c8c9c9 !default;
$color-neutral-30: #d5d5d5 !default;
$color-neutral-20: #dedede !default;
$color-neutral-10: #e2e2e2 !default;
$color-neutral-01: #eeeeee !default;
$color-neutral-02: #f7f7f7 !default;
$color-neutral-n5: #fbfbfb !default;
$color-neutral-n0: #ffffff !default;
$color-hype-10: #c4161c !default;

$color-border-button-group: #9d9d9d !default;
$color-text-button-secondary: #33373a !default;
$color-box-shadow: #0000001a !default;
$color-light-pink: #fee5e6 !default;
$color-light-primary: #fff2f2 !default;

$nav-tabs-link-active-border-color: #ff0000 !default;
$nav-tabs-link-active-color: #ff0000 !default;
$layout-vertical-nav-item-active-color: #ff0000 !default;
