@import 'color-token';

// FONT
$font-weight-lighter: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-family-base: 'NotoSans';
$headings-font-family: 'NotoSans';

// BUTTON
$btn-radius: 3px;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.5rem;

// RADIUS
$radius-xs: 0.25rem;
$radius-lg: 0.625rem;
